@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,700;1,800&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}




@layer components {
  .checkbok {
    @apply form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
}

body{
  font-family: 'Karla', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;

}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}



body {
  color: #53565A;
}


@media screen and (min-width: 992px) {}



.container {
  display: flex;
}

.row {
  display: flex;


}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column
  }

  /* .form-wrap {
    min-width: 100%;
  } */
}

.col {
  text-align: left;
}

h6 {
  font-weight: bold;
  font-size: 1em;
}

h2 {
  font-weight: 600;
  font-size: 2em;
}

p {
  font-size: 1em;
}

/* .form-wrap {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
} */

.fields-wrapper {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.fields-set {
  transition: all 0.3s ease-in-out;
  position: relative;
}

label {
  top: 1.2em;
  left: 1em;
  color: #868686;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}


.default-input {
  border-radius: 0;
  width: 100%;
  height: 52px;
  margin-bottom: 1em;
  padding: 0.66em 1.33em;
  font-family: "Brandon Grotesque";
  background: white;
  color: black;
  border: none;
  -webkit-appearance: none;
  box-shadow: inset 1px 1px 0 #d8d8d8, inset -1px -1px 0 #d8d8d8;
  font-size: 1.0625rem;
}

.default-input2 {
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.66em 1.33em;
  font-family: "Brandon Grotesque";
  background: white;
  color: black;
  border: none;
  -webkit-appearance: none;
  box-shadow: inset 1px 1px 0 #d8d8d8, inset -1px -1px 0 #d8d8d8;
  font-size: 1.0625rem;
}

.PYO-select {
  margin-bottom: 1em;
  position: relative;
}

label[for="country"] {
  top: -0.66em;
  left: 0.66em;
  padding: 0 0.2em;
  background: white;
  font-size: 0.875rem;

}

/* --- Search box with transition start --- */
.search-input{
  transition: 0.7s ease;
}
.search-btn {
  transition: 0.4s ease;
}

.search-box:hover .search-input, .search-input:focus {
  width: 240px;
  padding-right: 8px;
}

.search-box:hover .search-btn, .search-input:focus + .search-btn {
  color: white;
  background: #1F2937;
  transform: scale(1.3);
}

/* --- Search box with transition end--- */

/* Profile card start */
.profile-card{
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23FFFFFF' width='11' height='11'/%3E%3Crect fill='%23fbfbfb' x='10' width='11' height='11'/%3E%3Crect fill='%23f6f7f7' y='10' width='11' height='11'/%3E%3Crect fill='%23f2f3f4' x='20' width='11' height='11'/%3E%3Crect fill='%23eeeff0' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23eaebec' y='20' width='11' height='11'/%3E%3Crect fill='%23e6e7e9' x='30' width='11' height='11'/%3E%3Crect fill='%23e1e3e5' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23dddfe1' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d9dbdd' y='30' width='11' height='11'/%3E%3Crect fill='%23d5d7da' x='40' width='11' height='11'/%3E%3Crect fill='%23d1d3d6' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23cdcfd3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23c9cbcf' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23c5c7cb' y='40' width='11' height='11'/%3E%3Crect fill='%23c0c3c8' x='50' width='11' height='11'/%3E%3Crect fill='%23bcbfc4' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23b8bbc0' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23b4b7bd' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23b0b3b9' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23acb0b6' y='50' width='11' height='11'/%3E%3Crect fill='%23a8acb2' x='60' width='11' height='11'/%3E%3Crect fill='%23a4a8af' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23a0a4ab' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%239da0a8' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23999da4' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%239599a1' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2391959d' x='70' width='11' height='11'/%3E%3Crect fill='%238d929a' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23898e96' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23858a93' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23818790' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%237e838c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%237a7f89' x='80' width='11' height='11'/%3E%3Crect fill='%23767c85' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23727882' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%236f757f' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%236b717b' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23676e78' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23646a75' x='90' width='11' height='11'/%3E%3Crect fill='%23606772' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%235c636e' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2359606b' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23555c68' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23525965' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%234e5662' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%234b525e' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23474f5b' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23444c58' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23404855' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%233d4552' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2339424f' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23363f4c' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23333b49' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%232f3846' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%232c3543' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23293240' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23262f3d' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23222c3a' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%231F2937' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #1F2937;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%231F2937' width='11' height='11'/%3E%3Crect fill='%23222c3a' x='10' width='11' height='11'/%3E%3Crect fill='%23262f3d' y='10' width='11' height='11'/%3E%3Crect fill='%23293240' x='20' width='11' height='11'/%3E%3Crect fill='%232c3543' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%232f3846' y='20' width='11' height='11'/%3E%3Crect fill='%23333b49' x='30' width='11' height='11'/%3E%3Crect fill='%23363f4c' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2339424f' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%233d4552' y='30' width='11' height='11'/%3E%3Crect fill='%23404855' x='40' width='11' height='11'/%3E%3Crect fill='%23444c58' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23474f5b' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%234b525e' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%234e5662' y='40' width='11' height='11'/%3E%3Crect fill='%23525965' x='50' width='11' height='11'/%3E%3Crect fill='%23555c68' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2359606b' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%235c636e' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23606772' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23646a75' y='50' width='11' height='11'/%3E%3Crect fill='%23676e78' x='60' width='11' height='11'/%3E%3Crect fill='%236b717b' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%236f757f' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23727882' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23767c85' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%237a7f89' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%237e838c' x='70' width='11' height='11'/%3E%3Crect fill='%23818790' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23858a93' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23898e96' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%238d929a' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2391959d' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%239599a1' x='80' width='11' height='11'/%3E%3Crect fill='%23999da4' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%239da0a8' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23a0a4ab' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23a4a8af' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23a8acb2' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23acb0b6' x='90' width='11' height='11'/%3E%3Crect fill='%23b0b3b9' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23b4b7bd' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23b8bbc0' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23bcbfc4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23c0c3c8' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23c5c7cb' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c9cbcf' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23cdcfd3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23d1d3d6' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23d5d7da' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23d9dbdd' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23dddfe1' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e1e3e5' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23e6e7e9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23eaebec' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23eeeff0' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f2f3f4' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23f6f7f7' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23fbfbfb' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23FFFFFF' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  /* background: rgb(4,108,255); */
  /* background: linear-gradient(320deg, rgba(4,108,255,1) 0%, rgba(31,41,55,1) 50%); */
}
/* Profile card end */

/* Dashboard Card start */
.dashboard-card{
border-radius: 20px;
background: linear-gradient(145deg, #ffffff, #d6d6d6);
box-shadow:  20px 20px 60px #cacaca,
             -20px -20px 60px #ffffff;
}
/* Dashboard Card end */



.PYO-select select {
  text-indent: 0;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
  height: 52px;
  padding: 0.66em 1.33em;
  color: black;
  font-family: "Brandon Grotesque";
  border: none;
  -webkit-appearance: none;
  box-shadow: inset 1px 1px 0 #d8d8d8, inset -1px -1px 0 #d8d8d8;
  font-size: 1.0625rem;
}


.Submit {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

input[type="submit"] {
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.0625rem;
  display: inline-block;
  min-width: 161px;
  min-height: 52px;
  padding: 18px 25px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  background: black;
  background-position-x: 100%;
  background-size: 300%;
  box-shadow: inset 0 0 0 #d8d8d8, inset 0 0 0 #d8d8d8;
  border-radius: 10px;
}

label[for="privacy-label"] {
  display: block;
  padding-left: 3em;
  line-height: 1.5;
  color: #868686;
  font-size: 0.875rem;
}

.pyo-privacy-policy input[type="checkbox"] {
  height: 52px;
  margin-bottom: 1em;
  padding: 0.66em 1.33em;
  margin-bottom: 0;
  align-self: center;
}

.pyo-privacy-policy {
  display: flex;
}

.boxShadow{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.merriFont{
  font-family: 'Karla', sans-serif !important;
}

.boxShadow2{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.transit{
      transition: all 0.4s ease;
}
.tribe{
  font-weight: 200;
  font-style: italic;
  font-family: Karla, "sans-serif";
}
select{
  background-color: #fff;
}
 select:required:invalid {
   color: #9CA3AF;
 }

 option[value=""][disabled] {
   display: none;
 }

 option {
   color: black;
 }

.monoFont{
  font-family: "Spectral", sans-serif;
}
.monoFont2{
  font-family: "Prata", sans-serif;
}

.boxShadow3{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxShadow4{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: #000;
}


.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #000 !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;

}

.swiper-slide {
  align-self: center;

}

.playFont{
  font-family: "Playfair Display";
}
.boxShadow5{
  box-shadow: none;
}

@media only screen and (min-width: 1024px){
  .nav .navItem {
      visibility: hidden;
      z-index: 1;
    }
  
    .nav:hover .navItem {
      visibility: visible;
    }
        .boxShadow5 {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
  .scheduleNav .navItem {
      visibility: hidden;
      z-index: 1;
    }
  
    .scheduleNav:hover .navItem {
      visibility: visible;
    }
        .boxShadow5 {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
}